@tailwind base;
@tailwind components;
@tailwind utilities;

/* Copied from Astro. I really don't want to get this wrong and hurt some screen reader user. */
.arpc-announcement {
    position: absolute;
    left: 0;
    top: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
    width: 1px;
    height: 1px;
}
